
h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

p {
  color: rgb(214, 0, 125);
  
}

p {
  font-family: 'Courier New', monospace;
  font-size: 23px;
  text-align: center;
}
body { 
  background-color: rgb(255, 255, 255);
  cursor: url(cursor.png), auto; 
 }
a {
  color: rgb(214, 0, 125);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
li {
  float: left;
}
li a {
  display:
 block;
 color: rgb(214, 0, 125); 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(255, 139, 207);
}

.active {
  background-color: rgb(255, 139, 207);
}
body {

    background-image: url("kuvajoo.png");
    background-repeat: repeat-x;
 
  
}
h1 {
  text-shadow: 2px 2px 5px hotpink;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(255, 139, 207);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px hotpink;
}

.button:hover {background-color: rgb(255, 139, 207)}

.button:active {
  background-color: rgb(255, 139, 207);
  box-shadow: 0 5px rgb(253, 150, 202);
  transform: translateY(4px);

}
.center {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 43%;
  -ms-transform: translate(-40%, -40%);
  transform: translate(-40%, -40%);
}

button:hover,
button:focus {
  cursor: url(paw.png), auto;
}
:any-link{
cursor: url(paw.png), auto;
}
div.moi{
  position: fixed;
  bottom: 0;
  right: 0;
}
div.jyy{
  position: fixed;
  bottom: 0;
  right: 0;
}
